<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>422765485686-g5kd4crv788hh90245o5ttm7fdq9pe4o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422765485686-g5kd4crv788hh90245o5ttm7fdq9pe4o</string>
	<key>API_KEY</key>
	<string>AIzaSyD9K1tbbHr3m51ETQfSvAUNhHB3KbevTdo</string>
	<key>GCM_SENDER_ID</key>
	<string>422765485686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Archie.TinderClone</string>
	<key>PROJECT_ID</key>
	<string>tinderclone-1fb40</string>
	<key>STORAGE_BUCKET</key>
	<string>tinderclone-1fb40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:422765485686:ios:3fe7a253b4245063</string>
	<key>DATABASE_URL</key>
	<string>https://tinderclone-1fb40.firebaseio.com</string>
</dict>
</plist>